<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="shortcut icon" href="resource/favicon.ico" type="image/x-icon">
<title>体会</title>
<!--<link rel="stylesheet" type="text/css" href="styles/style.css">-->
<link
	href="http://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<!--[if lte IE 8]>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">

    <![endif]-->
<!--[if gt IE 8]><!-->
<link rel="stylesheet"
	href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">


</head>
<script>
	var _hmt = _hmt || [];
	(function() {
		var hm = document.createElement("script");
		hm.src = "//hm.baidu.com/hm.js?fb738fb7e699e550773676b5c9508025";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
	})();
</script>


<body>
	<main id="app"></main>
	<script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
	<script src="resource/scripts/markdown.min.js"></script>
	<script src="resource/scripts/remodal.min.js"></script>
	<!--<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
	<script src="resource/scripts/bundle.js"></script>
</body>


</html>
